# Python basics

**Python is just an English language**

Read the code below, I believe that you understand it, don't you? :)

```python
song = input('What is your favourit song: ')
if song in your_favourite_song_list:
  play()
else:
  your_favourite_song_list.add(this_song)
  play()
```

Read the code below again and guess what shape the program will draw. Then you can check your answer to see what the output is.

In [ ]:
# Guess what picture the code below is drawing.
!pip3 install ColabTurtle
from ColabTurtle.Turtle import *
initializeTurtle()
forward(100)
right(90)
forward(100)
right(90)
forward(100)
right(90)
forward(100)

**Python as a calculator**

In [ ]:
2+3

In [ ]:
6/2*(1+2)

## Basic data types, expressions, and variables

Run the code cells below. Are the outputs the same?

In [ ]:
1+1

In [ ]:
'1'+'1'

We can see that 1+1 is not always equal to 2.
The reason to explain this phenomenon is that 1 of both codes cells are different ***data types***
Therefore, we need to know the data types in Python in order to use them properly.

# In Python, there are 4 basic data types

1. Integers 

Ex.

* `-1678`
* `0`
* `34567890`

2. Real / Floating-point numbers

Ex.

* `45678.3578`
* `-87.0`
* `4/3`
* `1.3e-5`
* `4E0`

  <font color='orange'>Note</font>: The power number used in Python has to be an integer only.

3. Booleans
* `True`
* `False`

4. Strings `'<string>'` or `"<string>"`

Ex.

* `'Hello'`
* `"สวัสดี"`
* `'1+1'`

**Q**: Run the code below. Guess if any error will be occurred and explain why.

In [ ]:
False

In [ ]:
True

In [ ]:
TRUE # ภาษาไม่รู้จักคำนี้ ยังไม่ได้ประกาศตัวแปรนี้

In [ ]:
-2e3

In [ ]:
-2.5e0.5 #ยกกำลังติดลบไม่ได้

In [ ]:
2 e 3 # ผิดไวยกรณ์

In [ ]:
'I have so much fun.'

In [ ]:
'I've so much fun.' 
#ฟันหนูไม่มีคู๋

The example above has an error because the `'` is not balanced.
The program considers `I` to be a valid string because it is covered by a `' '`. However, `ve so much fun.'` lacks a `'` on the left.

In [ ]:
"I've so much fun."

In [ ]:
'"I've so much fun."'

In [ ]:
""I've so much fun.""

In [ ]:
""

In [ ]:
"""I've so much fun."""
'''I've so much fun.''' #แสดง output ออกมาแค่บรรทัดสุดท้าย

In [ ]:
print("""I've so much fun.""")
print('''I've so much fun.''')

<font color=orange>Note:</font> When `print` is not used for display in Colab, only the last line will be shown if available.

**Q**: Why the code above doesn't produce any error (Hint: comment)

In [ ]:
"""I've so much fun."""

We can use the built-in function `type()` to find the data type. See the examples below.

In [ ]:
type(1) #เอาไว้ดูชนิดตัวแปร

In [ ]:
type('1')

In [ ]:
type(1+1)

In [ ]:
type('1'+'1')

In [ ]:
type(True)

In [ ]:
type("True")

In [ ]:
type(true)

In [ ]:
type(3e4)

In [ ]:
type(3e-4)

In [ ]:
type("""I've so much fun.""")

### Comments

Previously, we may have seen green texts after `#`.
When being run, the program usually ignores those green texts because they are in-line comments.
They are just a note for readers, not for the program to execute.

Alternatively, we can use triple quotes i.e. `""" ... """` or `''' ... '''`, especially for multi-line comments. See the examples below.

In [ ]:
# A single-line comment

In [ ]:
"""
Comment is not a program,
but it acts as a description / note of the program.
"""

'''
For example,
This program converts a given temperature value in celsius into Fahrenheit.
'''
# Comments ได้หลาบบรรทัด

### Operators

####1. Arithmetic operators

* `()`
* `**` Exponent
* `-` Negate (unary)
* `*` Multiplication, `/` Division, `//` Division but the result as a whole number `%` Modulo
* `+` Addition, `-` Subtraction (binary)

<font color='orange'>Operator precedence</font> The precedence of the arithmetic operators are shown above, from highest to lowest.
If there are multiple operators with the same precedence, the program will execute from left to right, except the exponent `**` which will be excuted from right to left.

Note that the precedence in Python is the same as that used in the standard mathematics.

In [ ]:
x = 9
y = 2.5

In [ ]:
x+7.1

In [ ]:
2e9

In [ ]:
2e-5

We can use advanced mathematical functions by importing a module named `math` and call the function you want. Find out more about the functions defined in the math module [here](https://docs.python.org/3/library/math.html). More details about modules and functions are explained later in this chapter.

In [ ]:
import math  # module / packgage / library
x - math.sin(x)

In [ ]:
6*math.sin(y)

We can set a new alias name to the module we import by using the keyword `as` followed by the alias name that we want.

In [ ]:
import math as m # ใช้ m เป็นัวย่อแทน math
x = 10
x - m.sin(x)

In [ ]:
x = 9

In [ ]:
x/7 #หารเอาทศนิยม

In [ ]:
type(4/2) # เป็นข้อเสีย Python มันจะได้เป็น 2.00 เวลา debug จะยาก

In [ ]:
x//7 #หารไม่เอาทศนิยม / ปัดเศษทิ้ง

In [ ]:
x%7 # หารเอาแค่เศษ

In [ ]:
98%x # หารเอาแค่เศษ

In [ ]:
98//x + 98%x

In [ ]:
99**4 # ยกกำลัง

In [ ]:
99*99*99*99 #คูณกันปกติ

In [ ]:
65**-3 # ยกกำลังติดลบ

In [ ]:
1/(65*65*65)

In [ ]:
x**0.5 # ติดรูท

<font color='blue'>Q:</font> Write the following expressions.

$\sqrt{50}$

In [ ]:
# Code here
import math
print(math.sqrt(50))
print(50**0.5)
print(50**(1/2)) #มีวงเล็บด้วยไม่งั้นมันจะทำยกกำลัง 1 ก่อน แล้วค่อยหาร 2

5 mod 3

In [ ]:
# Code here
5 % 3 # mod คือหารแล้วเอาแค่เศษ

11 divided by 2 to the whole number

In [ ]:
# Code here
11 // 2 # หารไม่เอาเศษ

Extract the first two digits from 2310170 (Hint: `//`)

In [ ]:
# Code here
2310170 // 100000

In [ ]:
str(2310170)[:2]

In [ ]:
'''แล้วถ้าเอาแค่เลข 70 ด้านหลังล่ะ'''

In [ ]:
2310170 % 100 # เอา 2 ตัวหลัง

In [ ]:
2310170 % 23101

In [ ]:
str(2310170)[-2:]

In [ ]:
x = int(input("Enter a number : "))
print(str(x)[-2:])

<font color='blue'>Q:</font>
Put `()` to describe the calculation order and compare if it is the same as what is shown on the left hand side of `==`.

Note that `==` is a logic operand to check if the values from both sides are equal. It results in `True` if they are equal, otherwise `False`.

In [ ]:
5+2**-1*2-1*5 == 5+((2**(-1))*2)-(1*5) # == คือการเปรียบเทียบว่ามันมีค่าเท่ากัน

In [ ]:
(5+2)**-1*(2-1)*5 == ((5+2)**-1)*((2-1)*5)

In [ ]:
4**3**2 == 4**(3**2)

In [ ]:
4 ** -3 ** 2 == 4 ** (-3 ** 2)

In [ ]:
8/7*3%5//4 == (8/7)*(3%(5//4))

In [ ]:
8+7*2%4-3*5 == 8+((7*2)%4)-(3*5)

#### 2. String operators

* `+`  String concatenation
* `*`  String repetition

In [ ]:
"Hello" + ' World'

In [ ]:
'2301170' + ' ' + 'Com prog'

**Q:** Check if the two expressions below give the same results? Why?

In [ ]:
'12' + '3'

In [ ]:
12 + 3

In [ ]:
"12" + 3 # TypeError

In [ ]:
"12" * 10 # คูณคือการทำซ้ำ ไม่ Error

#### 3. Comparison

The comparison outcome is boolean.

* `==` Equal
* `!=` Not equal
* `>`  Greater than
* `>=` Greater than or equal to
* `<`  Less than
* `<=` Less than or equal to

#### 4. Logical operators
The precedence shown below is from highest to lowest.

* `not`
* `and`
* `or`

<font color='blue'>Exercises:</font>

Check if 2563 is divisible by 4 or ends with 63 (Hint: modulo)

In [ ]:
# Code here
(2563 % 4 == 0) or (2563 % 100 == 63) # False or True ได้ True

Check 2050 is considered the 21st century.

In [ ]:
# Code here
print(2050 // 100 == 20)
print(str(2050)[2:] == "50")

### Variables

A variable is <font color='red'>a name</font> that is assigned a <font color='red'>value</font> stored in the program memory. Take `score = 50` as an example, what happened in the program memory is logically illustrated below.

<img src="https://github.com/ploy-np/python/blob/master/images/variable.jpg?raw=1" height='100' alt="variable"/>

After assignment, we can use the value stored in the variable anytime. Moreover, we can reassign the variable with any new value.

#### Naming a variable
* A variable name can be started with any English alphabet or `_`, followed by unlimited number of alphabets, numbers, or `_`.
* Space and other special characters such as `+  - * / % & ^ . @ $ are not allowed.
* Variable names must not be the same as Python keywords.
* Variable names are case sensitive. In other words, upper cases are different from lower cases. For example, `score` and `Score` refer to different variables.
* Variable names should represent the values they store, which helps our understanding.

Examples of valid variable names are `x y i _name __credit com_prog _170 mathScore math_score`

Examples of invalid variable names are  `170 com-prog math.Score`

#### Assignment statement

The symbol `=` is used to assign a value to a variable as shown below.

```python
<aVariable> = <aValue> # The value can be constant, another variable holding its value, any expression, or any value-returning functions.
```

The program to associate the value on the right hand side of `=` with the variable on the left hand side.
Thus, the variable type is the same as the value type it carries.

In [ ]:
print = 2 # ไม่ควรทำ

In [1]:
# Ex.
width = 3
length = 4
area = width * length
perimeter = 2 * (width + length)

<font color='orange'>Tips</font> We can use `print()`, a built-in function, to show the value that the variable of interest is holding on screen. More details about functions are explained later in this chapter.

In [2]:
print(area)

12

In [3]:
print(perimeter)

14

In [4]:
print(height) # Since height is defined, this line of code will produce a NameError.

NameError: name 'height' is not defined

<font color='orange'>Tips:</font> We can assign multiple values to multiple variables in a single line using comma `,` in between. The number of values to assign has to be equal to

In [5]:
topic, width, length = 'variables',3,4

In [6]:
# Set up the variables x and y
x,y = 1,2
# Write a statement to swap the values between x and y

# code here

# Show the values stored in x and y respectively on screen
print('x:',x,'y:',y)

x: 1 y: 2

In [7]:
x,y = 1,2
z = x
x = y
y = z
print('x:',x,'y:',y)

x: 2 y: 1

In [8]:
x,y = 1,2
x,y = y,x
print('x:',x,'y:',y)

x: 2 y: 1

<font color='pink'>Note:</font> The prgram executes the code sequentially from top to bottom. If the code are in different code cells, the program execution order depends on the order we run the code cells.

In [9]:
text = 'Hello'
print(text)

Hello

In [10]:
text = text + 'World'
print(text)

HelloWorld

<font color='blue'>Q:</font> How has the value of each variable changed after the program executes the code below line by line?
Fill in the value of each value in the table after the program executes the code upto that line specified in the table.

Line | x | y | a | b | c |
------|---|---|---|---|---|
1 `x = 5` | 5 | - | - | - | - |
2 `print('x:',x)` | 5 | - | - | - | - |
3 `y = 10` |   |   |   |   |   |
4 `print('x:',x, 'y:',y)` |   |   |   |   |   |
5 `x = y` |   |   |   |   |   |
6 `y-10` |   |   |   |   |   |
7 `y = x` |   |   |   |   |   |
8 `x = y+1` |   |   |   |   |   |
9 `a = x < 20` |   |   |   |   |   |
10 `b = x < 2*y` |   |   |   |   |   |
11 `a != b` |   |   |   |   |   |
12 `c = not a or b and 2*x < y/2` |   |   |   |   |   |
13 `print(a and not(x<y),x+3)` |   |   |   |   |   |
14 `x = '7'` |   |   |   |   |   |
15 `x = x*2` |   |   |   |   |   |
16 `y = int(x)` |   |   |   |   |   |
17 `x == 'x'` |   |   |   |   |   |
18 `a = 2*'a'+x` |   |   |   |   |   |

(Hint: You can insert your own line of code using `print` anywhere in the code to check your answer).

In [11]:
x = 5
print('x:',x) # This line will show the value of x after the first line is executed.
y = 10
print('x:',x, 'y:',y) # This line will show the value of x after the top three lines are executed.
x = y
y-10
y = x
x = y+1
a = x < 20
b = x < 2*y
a != b
c = not a or b and 2*x < y/2
print(a and not(x<y),x+3)
x = '7'
x = x*2
y = int(x)
x == 'x'
a = 2*'a'+x

x: 5
x: 5 y: 10
True 14

### Functions

* Function is a sub program containing statements which perform a specific task, which can be reused by just calling the function name.
* In Python, there are built-in functions that are ready to be called.
* In addition to the built-in functions, there are many other functions, which are systematically bundled in a module. Thus, before calling it, we need to import the module in the program memory first, using

```python
import <moduleName>
```
or
```python
import <moduleName> as <alias>
```
* **Calling a function**
  * We can directly call a bult-in function:
  ```python
  <functionName>(<parametersIfneeded>)
  ```
  * For those functions in a specific module,
  ```python
  <moduleNameOrAlias>.<functionName>(<parametersIfneeded>)
  ```
  * The parameters / arguments specified in `()` are passed to the function in the required order in order to be processed within the function. Multiple parameters are separated by commas `,`. If the function does not require any parameter, we can leave it empty `()`.

* There are two Functions in Python.
1. Void functions are those that return nothing or `None`.
2. Value-returning functions are those that return at least a value, which can assign to a variable or a collection of variables afterwards.

<img src="https://github.com/ploy-np/python/blob/master/images/function_pipe.png?raw=1" alt="variable"/>

**Q:** Given the code below, what is the function name? How many parameters are there? What are parameters and their data types?

In [12]:
print('You get 30% discount from the price tag of 200 baht. So, you need to pay',0.7*200,'baht')

You get 30% discount from the price tag of 200 baht. So, you need to pay 140.0 baht

<font color='orange'>Note:</font> The values shown on the screen are not considered the values returned from the `print` function, which is a void function. You can investigate this by calling `print` and assiging the output to a variable to a variable and print it out. See below.

In [13]:
# What is the value of x? Give a reason why.
x = print('Hello')
print(x) # เป็น Void Function คือมัน return ค่า x ที่ไม่มีอะไรมาให้

Hello
None

**Q:** Given the code below, what is the function name? Is it a void function or a returning-value function? How many parameters are there? What are parameters and their data types? Guess what this function does.

In [14]:
y = int(3.5)
print(y) # เป็น Value-returning functions

3

### Basic built-in functions

#### `print`: A void function to show the parameters on screen.

* Accepts any number of parameters to print on screen, which can be any data types.
* If more than one parameters, as usual, they will be separated by a comma. Each parameter will be converted into a string message shown on screen, separated by a space by default.
* When the `print` function is called each time, a new line is automatically made by default.

In [15]:
n = 10
print('There will be',n,'exercises at the end of this chapter.')
print('Enjoy!')

There will be 10 exercises at the end of this chapter.
Enjoy!

#### `type`: Accepts a parameter and returns its data type.

In [16]:
# Is type a void function or a returning-value function
a = type('a')
b = type(-1)
c = type(3.8)
d = type(c==3.8)

print(a,b,c,d)

<class 'str'> <class 'int'> <class 'float'> <class 'bool'>

#### `int`, `float`, `str`: Accept a parameter and convert its data type to int, float and string respectively.

In [17]:
# Convert float to int
x = int(4.5)
print(x)

4

In [18]:
# Convert str to int
x = int('4')
print(x)

4

In [19]:
# Convert str to int -> Error? Why? Can you correct it?
x = int('4.5') # ต้องเป็น float
print(x)

ValueError: invalid literal for int() with base 10: '4.5'

In [20]:
# Covert str to float
x = float('2.8e-2')
print(x)

0.028

In [21]:
# Convert string to float (Why the output is 2.0 not 2?)
x = float('2') # เพราะเป็น float เลยต้องมีทศนิยม
print(x)

2.0

In [22]:
float('two') # Error? Why? เพราะว่าไม่รู้จักคำว่า Two

ValueError: could not convert string to float: 'two'

In [23]:
# Convert float to string and print
# Multiple functions can be recursively called.
# In this case, the value returned from the str function will be passed to the print function directly.
print(str(2.8e-2))

0.028

#### `len`: Accepts a string or collection parameter and returns the number of characters in the string (string length) or the number of items in the collection as int.

In [24]:
len('12 345') #นับความยาวของ str นับช่องว่างด้วย

6

In [25]:
len('Getting A in Python 170 is not difficult. Just practice, practice and practice')

78

#### `input`: Accepts a string parameter adn shows it on screen, then waits for an input from keyboards until the `Enter` button is hit, and returns the input as string.

In [26]:
input('Enter your name:')

Enter your name:Tew

'Tew'

In [27]:
input('Enter a number:') # The input function always return a value as string.

Enter a number:1

'1'

**Q**: Write a program to accept a number from the user and print its square.

In [28]:
# Code here
num = int(input("Enter a number : ")) # หรือจะใช้ float ก็ได้
print(num ** 2)

Enter a number : 1
1

In [29]:
print(len(input('Enter your name again:')))
# The value returned from the input function is passed as a parameter to the len function.
# The value returned from the len function is passed as a parameter to the print function.

Enter your name again:Tewter73
8

In [30]:
len(print('12345')) # Error? Why? เพราะ print จะไม่คืนค่าไปให้ len

12345

TypeError: object of type 'NoneType' has no len()

In [31]:
print(int(input('Enter a number: '))) # From what function was the error raised? Why?

Enter a number: 4545
4545

In [33]:
print(int(float(input('Enter a number: ')))) # ทำเป็น int ก่อน แล้วค่อยแปลงเป็น float อีกที

Enter a number: 4
4

#### `open`: Accepts a filename and a mode of access, then returns a file object through which several useful functions are available for manipulating the file e.g. `readline`, `write`, `close`.

* Function name: open
* 1st Argument: (string) filename to access
* 2nd Argument: (string) mode of access, which can be one of the following.
  * `'r'` for read only.
  * `'w'` for write only. When this mode is used on the existing file, the content in the file will be deleted and rewritten as if a new file is created.
  * `'a'` for append at the end of the file. Open the file with this mode, the file pointer is at the last position.
  * `'r+'` for read and write.
* Return: (object) a file object. Usually, an object has its own functions, which can be called `<aFileObject>.<functionName>(<parameters>)`.

* `<aFileObject>.readline()`: Read the text in the line where the file pointer is. After that, the file pointer goes to the beginning of the next line.
See example below.
* `<aFileObject>.write(<textToWrite>)`: Write the given text at the position where the file pointer is.
* `<aFileObject>.close()`: Close the file

In [ ]:
# Download the colorcode.txt file.
!gdown --id 1iCCRLuwIwumIokgbwACJbIvODTuRd1FW

In [34]:
# Open file for read.
f = open('colorcode.txt','r')

# Read the first line using readline(), a function of the file object, f, and return the content in that line to l1.
l1 = f.readline()
print('line1:',l1)

# Read the next line using readline() again and return the content in that line to l2.
l2 = f.readline()
print('line2:',l2)

# Read the next lines and return the content in that line to l3-l7.
l3 = f.readline()
l4 = f.readline()
l5 = f.readline()
l6 = f.readline()

#
print('line3:',l3)
print('line4:',l4)
print('line5:',l5)
print('line6:',l6)
print('line7:',f.readline())

l8 = f.readline()
l9 = f.readline()
print('line8:',l8)
print('line9:',l9)

# Close file.
f.close()

line1: Color   Hex     CGA

line2: White   #FFFFFF 15

line3: Silver  #C0C0C0 07

line4: Gray    #808080 08

line5: Black   #000000 00

line6: Red     #FF0000 12

line7: Yellow  #FFFF00 04
line8:
line9:

**Q**: Could you explain the display format shown above?

In [35]:
print(l1,l2)

Color   Hex     CGA
 White   #FFFFFF 15

**Q**: Normally, message display on screen using `print` is a space between the two parameters. However, the message displayed above seems not the case. Can you explain why?

In [36]:
# Run this cell without calling through the print function so that we can see what is actually stored in l1.
l1

'Color   Hex     CGA\n'

In [37]:
# Run this cell without calling through the print function so that we can see what is actually stored in l2.
l2

'White   #FFFFFF 15\n'

In [38]:
# Open the file for write.
f = open('colorcode_copy.txt','w') #ถ้าไม่มีไฟล์ก็จะสร้างไฟล์ใหม่

# To write, we can use a file function write() and put the string we want to write in the ().
f.write('Color\tHex\tCGA\n') # From the previous knowledge when the program reads a file, '\n' is required for a new line.
f.write(l2)
f.write(l3)
f.write(l4)
f.write(l5)
f.write(l6+l2)

# Do not forget to close the file.
f.close()

### Basic functions for string manipulation

```python
<aString>.<functionName>(<parametersIfNeeded>)
```

#### `upper`: Returns the capitalized string.

In [39]:
'covid-19'.upper() #ทำให้เป็นตัวพิมพ์ใหญ่ทั้งหมด

'COVID-19'

#### `lower` Returns the lowercased string.

In [40]:
text = 'New Normal'
text.lower() # ทำให้เป็นตัวพิมพ์เล็กทั้งหมด

'new normal'

#### `strip` Removes any spaces (when no parameters given) or specified characters at the start and end of a string.

In [41]:
text = '+++---p+y-t+h-o+n-+--+-'
text.strip('+-') # strip คือตัดขอบ ถ้าเจอ + หรือ - ก็จะให้ตัดออกให้หมด

'p+y-t+h-o+n'

In [42]:
text_with_space = '          p y t h o n          '
print(text_with_space.strip(''))

          p y t h o n

In [43]:
text_with_whitespace = '\t python\n'
print(text_with_whitespace.strip(' \t\n')) # Option 1
print(text_with_whitespace.strip()) # Option 2: Because the default parameter is a set of whitespace including blank ( ), tab (\t), newline (\n), we don't need to explicitly specify the parameters if we want to delete all the whitespace.

python
python

In [44]:
print(int('000752300'.strip('0')))

7523

In [45]:
text = ' python\n\t'
print(text.strip())

python

#### `split` Splits a string into a list.

In [ ]:
secret_code = 'python@+is@+a@+wonderful@+subject.'
secret_code.split('@+') # แยกข้อความ ได้เป็น list

In [48]:
name = 'Bill Gates'
print(name.split(' '))
print(name.split())

['Bill', 'Gates']
['Bill', 'Gates']

Note that `name` was split by a space into two strings. So, we can create two variables to get the values returned from the `split` function.

In [49]:
name = input('Input Name : ')
firstname, lastname = name.split(' ')
print(f'The string is split into {firstname} and {lastname}')

Input Name : Kunanon Sopacharoen
The string is split into Kunanon and Sopacharoen

<font color='purple'>P: </font> Write a program that receives phone information which consists of network, country code, phone number, and price that are separated by `/` from the user in a single line. Then, split this information into 4 variables with appropriate datatypes.

In [50]:
# Code here
info = input("Enter infomation : ")
info.split("/")

Enter infomation : Hi/Hello

['Hi', 'Hello']

In [51]:
a,b,c,p = input("Enter infomation : ").split("/")
p = float(p)

Enter infomation : 1/2/3/4

### Module "math" and its basic functions.

In [52]:
import math # We need to import the math module before we can call the functions belonging to this module.

In [53]:
math.log(4) # calling the log function in the math module, which returns the log of the given value.

1.3862943611198906

In [54]:
math.pi # Returns the constant value of PI stored in the math module.
# Pi ไม่เป็น function เพราะไม่มีวงเล็บ

3.141592653589793

**Note** that math.pi is not followed by a pair of parentheses. This is because pi is a constant, not a function, in the math module.

In [55]:
import math as m # Change the math module to m as an alias.
m.log(4)

1.3862943611198906

Find out more about all functions in the math module [here](https://docs.python.org/3/library/math.html)

## Programming exercises

Ex1. Write a program that receives subject ID and grade separately in different lines from the user and print out the information on the screen as shown below.

```
I got <grade> in <subjectID>.
```

In [57]:
# Code here
grade = str(input("Enter your Grade : "))
subjectID = int(input("Enter your SubjectID : "))
print(f"I got {grade} in {subjectID}.")

Enter your Grade : B
Enter your SubjectID : 2301173
I got B in 2301173.

Ex2. Write a program that receives subject ID and grade separated by a space in a single line from the user and print out the information on the screen as shown below.

```
I got <grade> in <subjectID>.
```

In [58]:
# Code here
grade, subjectID = input("Enter your Grade and SubjectID : ").split(" ")
print(f"I got {grade} in {subjectID}.")

Enter your Grade and SubjectID : B 2301173
I got B in 2301173.

Ex3. Write a program that receives three integers, one at a time, and print out the summation on the screen as shown below.
```
<1stInteger> + <2ndInteger> + <3rdInteger> = <summation>
```

In [59]:
# Code here
first = int(input("Enter the first integer : "))
second = int(input("Enter the second integer : "))
third = int(input("Enter the third integer : "))
sum = first + second + third
print(f"{first} + {second} + {third} = {sum}")

Enter the first integer : 100
Enter the second integer : 100
Enter the third integer : 100
100 + 100 + 100 = 300

Ex4. Write a program that receives three integers in a single line separated by a comma `,` and print out the summation on the screen as shown below.
```
<1stInteger> + <2ndInteger> + <3rdInteger> = <summation>
```

In [2]:
# Code here
inte = input("Enter three integers : ")
inte_list = inte.split(",")
first = int(inte_list[0])
second = int(inte_list[1])
third = int(inte_list[2])
sum = first + second + third
print(f"{first} + {second} + {third} = {sum}")

Enter three integers : 5,5,5
5 + 5 + 5 = 15

Ex5. Write a program that receives a product price including 7% vat from the user and print out the vat value on the screen as shown below.

```python
Enter price with vat: 347.75<enter>
vat is 22.75 Baht.
```

In [3]:
price = float(input("Enter price with VAT: "))  # แก้ "vat" เป็น "VAT"
vat = (price / 107) * 7
print(f"VAT is {vat:.2f} Baht.")  # แก้ "vat" เป็น "VAT" และเพิ่ม :.2f เพื่อรับรูปแบบทศนิยมสองตำแหน่ง

Enter price with VAT: 347.75
VAT is 22.75 Baht.

Ex6. Write a program that receives a year in BE from the user and print out the year in AD on the screen.

In [4]:
# Code here
BE = int(input("Enter a year in BE : "))
AD = BE - 543
print(f"Year in AD is {AD}")

Enter a year in BE : 2547
Year in AD is 2004

Ex6. Write a program that receives a duration in seconds from the user and convert it in the format shown below:
```
<hour>:<min>:<sec>
```

Ex.
```python
Enter duration: 3690<enter>
1:1:30
```

In [5]:
# Code here
duration = int(input("Enter a duration in a seconds : "))
second = duration % 60
duration //= 60 # duration = duration // 60 คือ เก็บค่าไว้ใน duration ใหม่
minute = duration % 60
hour = duration // 60
print(f"{hour}:{minute}:{second}")

Enter a duration in a seconds : 3690
1:1:30