# Collection (Arrays)

Common collections widely used in Python are

1. List - is ordered and changeable (mutable). Allows duplicate members.
2. Tuple - is ordered and unchangeable (immutable). Allows duplicate members.
3. Dict - is unordered and changeable (mutable). No duplicate members.
4. Set - is unordered, unchangeable (immutable), and unindexed. No duplicate members.

As of Python version 3.7, dictionaries are ordered. In Python 3.6 and earlier, dictionaries are unordered.

In [1]:
type([1,2,3,4,5]) #เปลี่ยนแปลงข้อมูลข้างในได้

list

In [2]:
type((1,2,3,4)) #เปลี่ยนแปลงสมาชิกข้อมูลข้างในไม่ได้

tuple

In [3]:
type({'milk tea':40, 'coffee':50}) #เปลี่ยนแปลงข้อมูลข้างในได้ 
# ข้อความคือ key ส่วนตัวเลขด้านหลังคือ Value

dict

In [4]:
type({1,2,3}) #เปลี่ยนแปลงสมาชิกข้อมูลข้างในไม่ได้

set

In [5]:
t = (1,2,3,4,1,2) # Tuple แสดงครบทุกตัว
s = {1,2,3,4,1,2} # Set แสดงเฉพาะตัวที่ไม่ซ้ำ
d = {'milk tea':40, 'coffee':50, 'milk tea':30} # Dict อัพเดทค่าให้เป็นค่าใหม่ ถ้าเป็น Key เดียวกัน
print(t)
print(s)
print(d)

(1, 2, 3, 4, 1, 2)
{1, 2, 3, 4}
{'milk tea': 30, 'coffee': 50}

# Welcome to the first collection data type that you often use in daily life!

When we go to a Thai restaurant, we often order many dishes e.g. chicken with basils, fried fish, tofu and minced pork soup and rice.
We can use four different string variables to keep these data:

```python
menu_1 = 'chicken with basils'
menu_2 = 'fried fish'
menu_3 = 'tofu and minced pork soup'
menu_4 = 'rice'
```

However, we can use only a single collection variable instead:
```python
menu = ['chicken with basils','fried fish','tofu and minced pork soup','rice']
```
Now, all the dishes are stored in a single list varaible, `menu`

# List

* List is an object that can store a sequece of items (sometimes called elements interchangeably)
* A list is defined using a pair of brackets '[ ]' with elements inside, separated by commas ' , '.
* A list can hold different types of items. [1, 'a', "comp prog", [True, False], 2.56]
* Lists are mutable, which means that items in the list can be changed.
*   '[ ]' an empty list

In [19]:
# Ex.

# A list of strings
menu = ['chicken with basils','fried fish','tofu and minced pork soup','rice']
print(menu)

# In this example, a list contains string, integer, float, boolean, and list.
list1 = ['chicken with basils', 2, 450.50, False, ['', 'sweet potatos', 3]]
print(list1)

# When no element resides in the brackets, it is called an empty list.
list2 = []
print(list2)

['chicken with basils', 'fried fish', 'tofu and minced pork soup', 'rice']
['chicken with basils', 2, 450.5, False, ['', 'sweet potatos', 3]]
[]

### List size

* The size of a list is the number of items in the list.
* `len(<aList>)` is a built-in function in Python that returns the length of a sequence --> size of a list.

In [20]:
len(menu)

4

In [21]:
len(['chicken with basils', 2, 450.50, False, ['', 'sweet potatos', 3]])

5

In [22]:
len([])

0

## How data stored in a list

In [23]:
data = ['chicken with basils', 2, 450.50, False, ['', 'sweet potato', 3]]

Here shows how the items in `data` are stored:
<img src="https://github.com/ploy-np/python/blob/master/images/list/data.jpg?raw=1" width="700"/>

In [33]:
drink = 'pimm\'s' # ใช้ \ เมื่อต้องการใช้อักขระพิเศษ เช่น ' เพื่อให้เป็นข้อความเดียวกัน
desserts = ['panacotta',2]
order = ['salad', drink, 40, desserts]
print(order)

['salad', "pimm's", 40, ['panacotta', 2]]

Here shows how the items in `order` are stored:
<img src="https://github.com/ploy-np/python/blob/master/images/list/order1.jpg?raw=1" width="800"/>

In [35]:
drink = 'long-island' # เปลี่ยนแล้วไม่มีผลต่อ list ใน order เพราะว่ามันไม่เปลี่ยนตัวที่ชี้ ตามภาพด้านล่าง
print('drink -->', drink)
print('order[1] -->', order[1])

drink --> long-island
order[1] --> pimm's
['salad', "pimm's", 40, ['panacotta', 2]]

Here shows how the items in `order` are stored after the variable `drink` was modified:
<img src="https://github.com/ploy-np/python/blob/master/images/list/order2.jpg?raw=1" width="700"/>

In [37]:
desserts = ['pancake',3]
print('desserts -->', desserts)
print('order[3] -->', order[3])

desserts --> ['pancake', 3]
order[3] --> ['panacotta', 2]

Here shows how the items in `order` are stored after the variable `desserts` was modified:
<img src="https://github.com/ploy-np/python/blob/master/images/list/order3.jpg?raw=1" width="700"/>

*   Every element within the List represents a variable that holds significant value when separated from binding.
*   Consequently, associating values with List elements through configuration establishes a link between the List elements and the new value, without altering the original value.

## Indexing

* We can access to each element in the list individually by specifying an index inside the brackets.
* The indexes are 0 (the first item), 1, ..., n-1 (the last item).
* The negative indexes are -1 (the last item), -2, -3, ..., -n (the first item).
* No matter positive or negative indexes you use, it cannot be out of those ranges.

In [65]:
data = ['chicken with basils', 2, 450.50, False, ['', 'sweet potato', 3]]

In [61]:
data[0] # แสดงข้อมูลในตัวแรก เพราะใน Python เรียงจาก 0,1,2,...

'chicken with basils'

In [40]:
type(data[0])

str

In [62]:
data[1]

2

In [63]:
type(data[1])

int

In [43]:
data[2]

450.5

In [44]:
type(data[2])

float

In [45]:
data[3]

False

In [46]:
type(data[3])

bool

In [66]:
data[4]

['', 'sweet potato', 3]

In [67]:
type(data[4])

list

In [49]:
data[5] # ข้อมูลไม่มีตัวที่ 4 เลย Error

IndexError: list index out of range

In [68]:
data[-1] # ก็คือเรียงจากหลังไปหน้า -1 ก็จะได้ตัวสุดท้าย

['', 'sweet potato', 3]

In [69]:
data[-2]

False

In [70]:
data[-3]

450.5

In [71]:
data[-4]

2

In [72]:
data[-5]

'chicken with basils'

In [73]:
data[-6] # Error เพราะไม่มีตัวที่ 5 นับจากท้าย

IndexError: list index out of range

## Slicing

* We can access multiple elements in the list by using index slicing.

```python
<aList>[<start>:<end>:<step>]
```

* We can mix between positive and negative indexes for data accession as appropriate.
*   Define a range start from the first index -->  leave 'start' blank.
*   Define a range up to the last index --> leave 'end' blank.

In [1]:
data = ['chicken with basils', 2, 450.50, False, ['', 'sweet potato', 3]]

In [76]:
data[:] # ก็คือเริ่มตั้งแต่ต้น จะใส่เลข 0 หรือไม่ใส่ก็ได้

['chicken with basils', 2, 450.5, False, ['', 'sweet potato', 3]]

In [77]:
data[2:] # เริ่มตั้งแต่ตัวที่ 3

[450.5, False, ['', 'sweet potato', 3]]

In [2]:
data[1:3] # เอาแค่ตัวตำแหน่งที่ 1 กับ 2

[2, 450.5]

In [81]:
data[:-2] # ไม่เอา 2 ตัวท้าย

['chicken with basils', 2, 450.5]

In [119]:
# Code here
numbers = [1, 2, 3, 4, 5, 6]
print(numbers[:]) # เอาทุกตัว

print(numbers[1:]) # ไม่เอาตัวแรก

print(numbers[:1]) # เอาแค่ตัวแรกตัวเดียว

print(numbers[:-1]) # ไม้เอาตัวสุดท้าย

[1, 2, 3, 4, 5, 6]

[2, 3, 4, 5, 6]

[1]

[1, 2, 3, 4, 5]

**Ex1:** Let `numbers = [1, 2, 3, 4, 5, 6]`. Write a command using list slicing to extract the values below.

* [2, 3, 4]
* [1, 3, 5]
* [2, 4, 6]
* [1, 4]
* [5, 3, 1]
* [4, 3, 2]

In [141]:
print(numbers[1:4]) # เอาเฉพาะตัวที่ 2 ถึง 4
print(numbers[0:5:2]) # ใส่ 2 เพิ่ม เพื่อที่จะเพิ่มทีละ 2
print(numbers[1: :2]) # ไม่่ใส่ตรงกลางเพื่อที่จะให้ถึงตัวสุดท้ายเลย
print(numbers[0:5:4]) # เริ่มตั้งแต่ 1 ถึง 5 แต่เพิ่มทีละ 3
print (numbers[4: :-2]) # print(numbers[-2: :-2]) # เริ่มที่ 5 ละก็ถอยหลังไปทีละ 2
print(numbers[3:0:-1]) # เริ่มที่ 3 ไปถึง 0 ก็คือไม่เอาตัวที่ 0 นั่นเอง

[2, 3, 4]
[1, 3, 5]
[2, 4, 6]
[1, 5]
[5, 3, 1]
[4, 3, 2]

## Iterating over a list using `for`

There are two ways to do this.

**Method 1**: To iterate each item in the list.

```python
for <variable> in <aList>:
  <do something>
```

In [142]:
data = ['chicken with basils', 2, 450.50, False, ['', 'sweet potato', 3]]
for item in data: # ถ้า print ออกมาก็จะแสดงผลแต่ละตัว แยกบรรทัดกัน
    print(item)

chicken with basils
2
450.5
False
['', 'sweet potato', 3]

**Q**: Run the code below, what have you noticed from this?

In [146]:
data = ['chicken with basils', 2, 450.50, False, ['', 'sweet potato', 3]]
for item in data:
    item = 'unknown' # ค่าใน item เปลี่ยนแต่ใน list ไม่เปลี่ยน
    print(item)
print(data)

unknown
unknown
unknown
unknown
unknown
['chicken with basils', 2, 450.5, False, ['', 'sweet potato', 3]]

**Ex2:** Write a program that receives a list of numbers from the user and print out the average (using *Method 1* to iterate over the list).

In [145]:
num_list = list(input('Enter a list of number: ').split(','))
count = len(num_list)
sum = 0.0
for num in num_list :
    sum += float(num)
avg = sum / count
print('The avarage of a list of number is ', avg)

Enter a list of number: 1,2,3,4,5,6
The avarage of a list of number is  3.5

**Method 2**: To iterate the *index* of each item in the list.

```python
for <indexVariable> in range(len(<aList>)):
  <do something>
```

In [169]:
for i in range(len(data)): # อีกวิธีนึง
    print(data[i])

chicken with basils
2
450.5
False
['', 'sweet potato', 3]

**Ex3:** Write a program that receives a list of numbers from the user and print out the average (using *Method 2* to iterate over the list).

In [150]:
# Code here
num_list = list(input('Enter a list of number: ').split(" ")) # ตรง split จะไม่ใส่อะไรเลยก็ ถ้าใส่ "" ต้องเว้น 1 บรรทัด
count = len(num_list)
sum = 0.0
for i in range(len(num_list)) :
    sum += float(num_list[i])
avg = sum / count
print('The avarage of a list of number is ', avg)

Enter a list of number: 1 2 3 4 5 6
The avarage of a list of number is  3.5

## List modification

This can be done using the list accession with an assignment operator.

```python
<aList>[<index>] = <value>
```

In [155]:
drink = 'pimm\'s'
desserts = ['panacotta',2]
order = ['salad', drink, 40, desserts]
print(order)

['salad', "pimm's", 40, ['panacotta', 2]]

In [156]:
# This will replace the second item in the list (order) with the value on the right side of the assignment operator (=).
order[1] = 'long-island' #แทนตัวที่ 2 ใน order
desserts[0] = 'Mango sticky rice' # แทนตัวแรกใน list ของ desserts
print(order)

['salad', 'long-island', 40, ['Mango sticky rice', 2]]

**Q:** What is the results of the program below.

In [161]:
numbers = [2, 4, 6, 8]
numbers[2] = numbers[0] * 2
numbers[-1] = numbers[-1] / 2 # ก็คือเปลี่ยนตัวแรกนับจากท้าย
print(numbers)

[2, 4, 4, 4.0]

## Basic operations for List



You can find more details about the methods of list objects [here](https://docs.python.org/3/tutorial/datastructures.html).

### `append`: Adds an item in the end of the list.

```python
<aList>.append(<itemToAppend>)
```

In [165]:
data = ['chicken with basils', 2, 450.50, False, ['', 'sweet potato', 3]]
data.append('americano') # เขียนข้อมูลต่อจ่าก list เดิม
print(data)
data.append([0, 1]) # เขียนข้อมูลต่อจ่าก list เมื่อกี๊
print(data)

['chicken with basils', 2, 450.5, False, ['', 'sweet potato', 3], 'americano']
['chicken with basils', 2, 450.5, False, ['', 'sweet potato', 3], 'americano', [0, 1]]

### `insert`: Inserts an item at a given position.

```python
<aList>.insert(<indexToInsert>, <itemToInsert>)
```

In [166]:
data = ['chicken with basils', 2, 450.50, False, ['', 'sweet potato', 3]]
data.insert(2,'americano') # ก็คือการแทรกข้อมูลใหม่แทนที่ในตัวที่ 3
print(data)

['chicken with basils', 2, 'americano', 450.5, False, ['', 'sweet potato', 3]]

### `index`: Finds the position (index) of a given value in the list. --> return the first position


```python
<aList>.index(<aValue>)
```

In [167]:
data = ['chicken with basils', 2, 450.50, False, ['', 'sweet potato', 3]]

In [168]:
print(data.index(False))

3

In [169]:
print(data.index(True)) # Error เพราะไม่มี True อยู่ใน list

ValueError: True is not in list

### `del`: Deletes an item from the list using indexing.

``` python
del <aList>[<indexOfItemToDelete>]
```

In [192]:
data = ['chicken with basils', 2, 450.50, False, ['', 'sweet potato', 3]]

In [185]:
del data[4] # del ก็คือการลบตามตำปหน่งของ index
print(data)

['chicken with basils', 2, 450.5, False]

In [172]:
del data[:2] # ลบอันข้างหน้าออกเหลือแค่ 2 ตัวท้าย
print(data)

[450.5, False]

In [173]:
drink = 'pimm\'s'
desserts = ['panacotta',2]
order = ['salad', drink, 40, desserts]

del drink # ลบตรง drink ออกไปเลย
print(order)
del order[1] #ลบตัวท่ี่ 2 ออก
print(order)

['salad', "pimm's", 40, ['panacotta', 2]]
['salad', 40, ['panacotta', 2]]

In [188]:
drink = 'pimm\'s'
desserts = ['panacotta',2]
order = ['salad', drink, 40, desserts]

del desserts[1]
print(order)

['salad', "pimm's", 40, ['panacotta']]

In [206]:
data = ['chicken with basils', 2, 450.50, False, ['', 'sweet potato', 3]]
data.pop(1) # ลบเฉพาะตัวที่ 2 ออก
print(data)

['chicken with basils', 450.5, False, ['', 'sweet potato', 3]]

pop() Removes the element at the specified position

### `remove`: Remove a given value from the list (the first one found).

```python
<aList>.remove(<aValueInTheList>)
```

In [208]:
data = ['chicken with basils', 2, 450.50, False, ['', 'sweet potato', 3]]
data.remove(False) # remove ต้องรู้ค่า index ที่อยู่ใน list ถึงจะลบได้
print(data)

ValueError: list.remove(x): x not in list

### `min`: Finds the minimum value in the list.

```python
min(<aList>)
```

In [1]:
nums = [8,7,9,12,3]
words = ['squid game','hometown cha cha','titanic']
texts = ['sssssss', 'ttt', 'z']

In [2]:
print(min(nums))
print(min(words))   # ค่าน้อยสุด
print(min(texts))

3
hometown cha cha
sssssss

### `max`: Finds the maximum value in the list.

```python
max(<aList>)
```

In [3]:
print(max(nums))
print(max(words)) # ค่ามากสุด
print(max(texts))

12
titanic
z

### `sum`: Calculate the summation of all values in the list (only number).

```python
sum(<aList>)
```

In [4]:
nums = [8, 7, 9, 12, 3]
total = sum(nums)
print(total)

39

In [5]:
sum(words) # Error เพราะ รวมค่า str ไม่ได้

TypeError: unsupported operand type(s) for +: 'int' and 'str'

### `sort`: Sorts all the items in the list (the same variable types).

```python
# Ascending order
sort()

# Descending order
sort(reverse=True)   
```

* Note that `sort` is a void function.

In [6]:
x = [8,7.5,9,12.4,3]
y = ['1','Com','123','a','A',]
z = [1, 3.3, 'a', 'A']

In [7]:
x.sort() # sort คือการเรียงจากน้อยไปมาก
y.sort() # ถ้าตัวแปรคนละรูปแบบข้อความก็จะเรียงประเภทให้แทน เรียงจากตัวเลขไปตัวอักษร จากพิมพ์ใหญ่ไปพิมพ์เล็ก
print(x)
print(y)

[3, 7.5, 8, 9, 12.4]
['1', '123', 'A', 'Com', 'a']

In [8]:
z.sort() # ถ้าตัวแปรคนละชนิดกัน จะ Error

TypeError: '<' not supported between instances of 'str' and 'float'

In [9]:
print(x.sort()) # เพราะเป็น Void Function

None

In [10]:
x.sort(reverse=True) # ก็จะเรียงจากมากไปน้อยแทน
print(x)

[12.4, 9, 8, 7.5, 3]

In [11]:
x.reverse() # reverse เหมือนข้างบนแต่ reverse ข้างบนอีกทีเลยเป็นน้อยไปมาก
print(x)

[3, 7.5, 8, 9, 12.4]

### List concatenation using `+`  (Combine two lists).

In [12]:
a = [1,2]
b = [2,3]
a = a + b
# a.extend(b) ก็ได้ค่าเหมือนกัน
print(a)

[1, 2, 2, 3]

In [13]:
a = [1,2]
b = [2,3]
a.extend(b)
print(a)

[1, 2, 2, 3]

extend() Add the elements of a list (or any iterable), to the end of the current list

https://pythontutor.com/visualize.html#mode=edit

### List repetition using `*` (Copy and combine a list).

In [14]:
a = [1,2]
b = [2,3]
a * 2 # ต่อเข้าไป 2 ครั้ง

[1, 2, 1, 2]

In [15]:
a = [1,2]
b = [2,3]
b * 4 # ต่อเข้าไป 4 ครั้ง

[2, 3, 2, 3, 2, 3, 2, 3]

### Checking if the list containing a given value with `in`.

In [63]:
data = ['chicken with basils', 2, 450.50, False, ['', 'sweet potato', 3], 450.5]
print('chicken with basils' in data) # เจอก็จะเป็น True

True

In [17]:
print('sweet potato' in data) # ไม่เจอก็จะเป็น False

False

In [18]:
print('sweet potato' not in data) # ไม่อยู่ก็เลยเป็น True

True

In [27]:
print('sweet potato' in data[4]) # อยู่ข้างในตัวที่ 3 อีกทีเลยเป็น True

True

In [34]:
data.count('sweet potato') # ไม่เจอก็เลยเป็น 0

0

In [29]:
data.count(450.50) # เป็น 2 เพราะเจอ 2 ตัว

2

In [38]:
data.index(450.50) # เหมือนกับ count

2

index(x) Searches the tuple for a specified value and returns the position of where it was found

count(x) Returns the number of elements with the specified value

### Others
clear() Removes all the elements from the list

copy()  Returns a copy of the list

reverse() Reverses the order of the list

In [39]:
data2 = data.copy() # ทำซ้ำข้อมูลกับ data ธรรมดา
data.reverse() # ย้อนกลับลำดับข้อมูล
print(data2)
print(data)

['chicken with basils', 2, 450.5, False, ['', 'sweet potato', 3], 450.5]
[450.5, ['', 'sweet potato', 3], False, 450.5, 2, 'chicken with basils']

In [40]:
data2.pop(2) # หายไปแค่ตำแหน่ง index นั้น
print(data2)
data2.clear() # หายไปทั้ง list
print(data2)

['chicken with basils', 2, False, ['', 'sweet potato', 3], 450.5]
[]

**Q:** What is the result of running the program below?

In [46]:
mylist = []
mylist.append(5) # ใส่เลข 5 ลงไปใน list ของ mylist
mylist.insert(1,10) # แทรกที่ตำแหน่งที่ 1 ด้วย 10 ก็จะเป็น 5,10
mylist.insert(0,3) # แทรกที่ตำแหน่งที่ 0 ด้วย 3 ก็จะเป็น 0,5,10
mylist = mylist*2 # ทำซ้ำ 2 ครั้งของช้อมูลล่าสุด
mylist = mylist + [2,4] # เพิ่ม 2 และ 4 เข้าไปด้านหลัง
mylist.remove(10) # ลบ 10 เฉพาะอันที่ไม่ได้ทำซ่้ำ เพราะ ลบค่าได้แค่่ครั้งเดียว ก็คือตัวแรกที่เจอ
del mylist[0] # ลบข้อมูลใน list ตำแหน่งที่ 0
mylist.sort() # เรียงข้อมููลใน list จากน้อยไปมาก
print(mylist)

[2, 3, 4, 5, 5, 10]

## List creation using `for`

Ex. Imagine we want to create a list that stores the integers from 1 to 100

* Method 1: We can write a long squence of 1,2,3,...,100 within `[]`.
* Method 2: We can use `for` and list appending together to achieve this task, which is more concise.

In [56]:
# Method 2.1
num = [] # First create an empty list.
for i in range(1,101): # Iterate the integers from 1 to 100.
    num.append(i) # For each round, append each integer using append().
print(num)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [58]:
# Method 2.2
num = [] # First create an empty list.
for i in range(1,101): # Iterate the integers from 1 to 100.
    num += [i] # ก็คือ num = num + [i] # For each round, append each integer using +.
print(num)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

Note that `+` is used for list concatenation for any two lists. So, we need to change `1` to `[1]`.

## List copy

### Shallow copy: Associate the variable on the left to the existing value that the variable on the right is pointing to.

In [64]:
d = data # ทำให้ list ข้อมูลเหมือนกัน เวลาเปลี่ยน index ก็จะเปลี่ยนทั้งคู่
print(data)
print(d)
d[0] = 'Pork with basils'
print(data)
print(d)

['chicken with basils', 2, 450.5, False, ['', 'sweet potato', 3], 450.5]
['chicken with basils', 2, 450.5, False, ['', 'sweet potato', 3], 450.5]
['Pork with basils', 2, 450.5, False, ['', 'sweet potato', 3], 450.5]
['Pork with basils', 2, 450.5, False, ['', 'sweet potato', 3], 450.5]

Here shows how the shallow copy works:

<img src="https://github.com/ploy-np/python/blob/master/images/list/shallow.jpg?raw=1" width="700"/>

### Deep copy: Create a new list with the same values. 
สร้างข้อมูลใหม่ที่ค่าเหมือนอันก่อนอยู่

In [65]:
data = ['chicken with basils', 2, 450.50, False, ['', 'sweet potato', 3]]

In [67]:
# Method 1 combile with empty list
d1 = [] + data

In [72]:
# Method 2 for loop copy
d2 = []
for item in data:
    d2.append(item) # เพิ่ม item เข้าไปใน d2 ซึ่งก็คือ list จาก d1

In [78]:
# Method 3 copy by slicing
d3 = data[0:] # หรือจะไม่ใส่ 0 ก็ได้

In [70]:
# Method 4 list function
d4 = list(data)

In [80]:
print(d1)
print(d2)  
print(d3)
print(d4)

['chicken with basils', 2, 450.5, False, ['', 'sweet potato', 3]]
['chicken with basils', 2, 450.5, False, ['', 'sweet potato', 3]]
['chicken with basils', 2, 450.5, False, ['', 'sweet potato', 3]]
['chicken with basils', 2, 450.5, False, ['', 'sweet potato', 3]]

In [81]:
d1[0] = 'Pork with basils'
print(data)
print(d1)

['chicken with basils', 2, 450.5, False, ['', 'sweet potato', 3]]
['Pork with basils', 2, 450.5, False, ['', 'sweet potato', 3]]

## List comprehension
To generate a new list by applying an expression to each item in an existing iterable (such as a list, tuple, or range) and optionally applying a filter condition.

```python
new_list = [expression for item in iterable if condition]
```
We can create a list using `for` in a single line using list comprehension.

Ex. Create a list that stores the integers from 1 to 10.

In [89]:
x = []
for i in range(10):
    x.append(i + 1)
print(x)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [90]:
 # ทำให้สั้นกว่า code ข้างบน # With list comprehension, we can shorten the code into one single line
x = [i+1 for i in range(10)] # มัน assign ค่าเข้าไปใน list อยู่แล้ว
print(x)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Ex. Create a list that stores the odd integers from 1 to 10.

In [97]:
y = []
for i in range(10) :
    if i % 2 != 0 :
        y.append(i)
print(y)

[1, 3, 5, 7, 9]

In [98]:
# With list comprehension, we can shorten the code into one single line
y = [i for i in range(10) if i % 2 != 0]
print(y)

[1, 3, 5, 7, 9]

**Ex4:** Create a new list `info_int` that contains only integers of the given list `info` using list comprehension.

In [104]:
info = [2,'a','True',-5,False,2.4,'4']
# Code here เป็นการเอาเฉพาะ index ที่เป็น int ใน list
info_int = [info[i] for i in range(6) if type(info[i]) == int]
print(info_int)

[2, -5]

Ch5 code Morning No.3

Ch5 code Afternoon No.5

## String as a list of characters

* We can access characters in a string in the same way we access members in a list.

In [105]:
txt = 'Python is a snake'

In [106]:
len(txt) #มี 17 ตัวรวมช่องว่างที่เว้นด้วย

17

In [108]:
txt[0] # ตัวแรกของข้อความ

'P'

In [109]:
txt[-1] # ตัวสุดท้ายของข้อความ

'e'

In [112]:
txt[12:] #slicing เอาเฉพาะ 12 แรกออก

'snake'

* We can check if a string contianing a substring using `in`

In [124]:
print('is a' in txt) # ดูว่ามีคำนี้มั้ยใน list

True

In [125]:
print('isa' in txt)

False

In [126]:
print('is a ' not in txt)

False

* Unlike `list`, `string` is immutable, so we cannot reassign values to a string partially.

In [127]:
txt[12] = 'p' # ใน list เปลี่ยน str ไม่ได้

TypeError: 'str' object does not support item assignment

* What we can do is to assign a new string.

In [128]:
txt = 'Python is a programming language'

* Examples of string operations

In [129]:
txt.isalpha() # letters

False

In [130]:
txt.isalnum() # letters and digits

False

In [131]:
txt.isdigit()

False

In [132]:
txt.islower()

False

In [138]:
txt.isupper()

False

In [134]:
txt.lower()

'python is a programming language'

In [137]:
txt.upper()

'PYTHON IS A PROGRAMMING LANGUAGE'

In [143]:
txt.split()

['Python', 'is', 'a', 'programming', 'language']

**Ex5:** Write a function to count the number of uppercases in a given string (`mystring`) using list croprehension.

In [144]:
# Code here
def count_upper(mystring):
    upper_string = [1 for letter in mystring if letter.isupper()]
    return len(upper_string)

text = input('Enter string: ')
ct = count_upper(text)
print("Number of uppercase: ", ct)

Enter string: Hi
Number of uppercase:  1

# Programming exercises

1. Accept two integer lists as input and check if they are circularly identical. Print ”yes” if they are, print ”no” if they are not.

In [158]:
# Code here งงนิดหน่อย
def are_circularly_identical(list1, list2):
    if len(list1) != len(list2):
        return False
    ch = False
    check_list = list1 * 2
    for item2 in list2:
        for item in check_list:
            if item2 == item:
                ch = True
                break
            else:
                ch = False
                check_list = check_list[check_list.index(item)+1:]

    if ch == False:
        return False
    else:
        return True

list1 = list(input("Enter the first integer list: ").split(','))
list2 = list(input("Enter the second integer list: ").split(','))

if are_circularly_identical(list1, list2):
    print("yes")
else:
    print("no")

Enter the first integer list: 1 2 3
Enter the second integer list: 1 2 3
yes

2. A robot moves in a plane starting from the origin (0,0). The robot can move toward UP (U), DOWN (D), LEFT (L) and RIGHT(R)withagiveninpute.g.U5D3L3R2. The number after the direction are steps. Compute the distance from the current position of a robot after a sequence of moves.

In [ ]:
# Code here
def compute_distance(moves):
    x, y = 0, 0  # ตำแหน่งเริ่มต้นที่ (0, 0)

    # แยกคำสั่งการเคลื่อนที่และจำนวนขั้นตอน
    for move in moves:
        direction = move[0]
        steps = int(move[1:])

        if direction == 'U' :
            y += steps
        elif direction == 'D' :
            y -= steps
        elif direction == 'L' :
            x -= steps
        elif direction == 'R' :
            x += steps

    # คำนวณระยะทางจากตำแหน่งปัจจุบัน
    distance = (x**2 + y**2)**0.5
    return distance

# รับคำสั่งการเคลื่อนที่จากผู้ใช้
movement_sequence = input("กรุณาป้อนลำดับการเคลื่อนที่ (เช่น U5D3L3R2): ")

# แยกคำสั่งการเคลื่อนที่เป็นรายการ
moves = movement_sequence.split()

# เรียกใช้ฟังก์ชันและคำนวณระยะทาง
distance = compute_distance(moves)

print(f"ระยะทางจากตำแหน่งปัจจุบัน: {distance:.2f}")

3. Write a program that computes the net amount of a balance based on a transaction log from console input. The transaction log is contained in one line in the format of [W|D number ]* e.g. D 300 D 300 W 200 D 300. W means withdrawal and D means deposit. The output for the above example input would be 700.

In [171]:
# Code here
def compute_balance(transaction_log) :
    # Split the transaction log into individual transactions
    transactions = transaction_log.split()

    # Initialize the balance to 0
    balance = 0

    # Iterate through each transaction
    for i in range(0, len(transactions), 2) :
        transaction_type = transactions[i]
        amount = int(transactions[i + 1])

        # Update the balance based on the transaction type
        if transaction_type == 'D' :
            balance += amount
        elif transaction_type == 'W' :
            balance -= amount

    return balance

# Read the transaction log from console input
transaction_log = input("Enter the transaction log: ")

# Call the compute_balance function and print the result
net_balance = compute_balance(transaction_log)
print("Net balance:", net_balance)

Enter the transaction log: D 300 D 300 W 200 D 300
Net balance: 700

4. Write a program that check the validity of a given password. A password is valid if it contains at least 1 occurence of the character c and exactly 1 occurrence of the character 1. For example, a password ABcd0123bca$ is valid, while a password c11 is invalid.

In [160]:
# Code here แบบที่ 1
def is_valid(password):
    count_c = password.count('c')
    count_1 = password.count('1')
    return (count_c >= 1 and count_1 == 1)

myPass = input('Enter password: ')
is_valid(myPass)

Enter password: c11

False

In [163]:
# Code here แบบที่ 2
password = input("Enter password: ")
has_c = password.count("c")
times_1 = password.count("1") == 1
print(has_c and times_1)

Enter password: ABcd0123bca$
True

In [168]:
# Code here แบบที่ 3
def is_valid_password(password) :
    # ตรวจสอบว่ารหัสผ่านมีอักขระ "c" อย่างน้อย 1 ตัว
    if password.count("c") < 1 :
        return False

    # ตรวจสอบว่ารหัสผ่านมีอักขระ "1" อย่างน้อย 1 ตัว
    if password.count("1") != 1 :
        return False
    
    # รหัสผ่านถือว่าถูกต้องถ้าผ่านทุกเงื่อนไข
    return True

# รับรหัสผ่านจากผู้ใช้
password = input("กรุณาป้อนรหัสผ่าน: ")

# เรียกใช้ฟังก์ชันและตรวจสอบความถูกต้อง
if is_valid_password(password): # เป็นการเรียกใช้ Function จากด้านบน
    print("Valid Password")
else:
    print("Invalid Password")

กรุณาป้อนรหัสผ่าน: ABcd0123bca$
Valid Password

5. Accept top left corner coordinate (x,y), width and height of two rectangles e.g. [5,5,10,10] and [0,0,12,15]. Then print “yes” if they intersect otherwise print ”no”

In [172]:
# Code here
def do_rectangles_intersect(rect1, rect2):
    x1, y1, w1, h1 = rect1
    x2, y2, w2, h2 = rect2

    # Calculate the coordinates of the right and bottom edges for both rectangles
    right1, bottom1 = x1 + w1, y1 + h1
    right2, bottom2 = x2 + w2, y2 + h2

    # Check if one rectangle is to the left of the other
    if x1 > right2 or x2 > right1:
        return "no"

    # Check if one rectangle is above the other
    if y1 > bottom2 or y2 > bottom1:
        return "no"

    # If the above two conditions are not met, the rectangles intersect
    return "yes"

# Input for the first rectangle [x, y, width, height]
rect1 = list(map(int, input("Enter coordinates and dimensions of the first rectangle (e.g., x y width height): ").split()))

# Input for the second rectangle [x, y, width, height]
rect2 = list(map(int, input("Enter coordinates and dimensions of the second rectangle (e.g., x y width height): ").split()))

result = do_rectangles_intersect(rect1, rect2)
print(result)

Enter coordinates and dimensions of the first rectangle (e.g., x y width height): 5 5 10 10
Enter coordinates and dimensions of the second rectangle (e.g., x y width height): 4 4 10 10
yes

In [3]:
def do_rectangles_intersect(rect1, rect2):


    x1, y1, width1, height1 = rect1


    x2, y2, width2, height2 = rect2


   


    # Calculate the coordinates of the bottom-right corner for each rectangle


    x1_end = x1 + width1


    y1_end = y1 + height1


    x2_end = x2 + width2


    y2_end = y2 + height2


   


    # Check if rectangles do not intersect


    if x1 > x2_end or x2 > x1_end or y1 > y2_end or y2 > y1_end:


        return "no"


   


    # Rectangles intersect


    return "yes"

 

# Get input for rect1 from the user


x1 = int(input("Enter the x-coordinate for rect1: "))


y1 = int(input("Enter the y-coordinate for rect1: "))


width1 = int(input("Enter the width for rect1: "))


height1 = int(input("Enter the height for rect1: "))

 

# Get input for rect2 from the user


x2 = int(input("Enter the x-coordinate for rect2: "))


y2 = int(input("Enter the y-coordinate for rect2: "))


width2 = int(input("Enter the width for rect2: "))


height2 = int(input("Enter the height for rect2: "))

 

rect1 = [x1, y1, width1, height1]


rect2 = [x2, y2, width2, height2]

 

result = do_rectangles_intersect(rect1, rect2)


print(result)

Enter the x-coordinate for rect1: 2
Enter the y-coordinate for rect1: 2
Enter the width for rect1: 2
Enter the height for rect1: 2
Enter the x-coordinate for rect2: 2
Enter the y-coordinate for rect2: 2
Enter the width for rect2: 2
Enter the height for rect2: 2
yes