# Tuple

* Like List, Tuple is an object that can store a sequece of items.
* A tuple is defined using a pair of brackets `()` with elements inside, separated by commas.
* A tuple can hold different types of items.
* <font color='red'>Tuples are immutable, which means that items in the tuple cannot be changed after it is created.</font>
* <font color='red'>แก้ไม่ได้ ต่างจาก list แค่ตรงนี้</font>
```python
(<item1>, <item2>, <item3>, ..., <itemN>)
```

In [2]:
# Ex.
a = (1,2,3,4,5) # Tuple ก็คือ () แบบนี้ละมีข้อมูลข้างใน
b = (2301170,'Python',True)
c = 2301170,'Python',True # ไม่จำเป็นต้องมี () ก็ได้ ขอแค่มี comma แยกพอ  # Not necessarily within ().
d = 2301170, # เพราะมี comma จึงกลายเป็น Tuple # But a comma is needed to define a tuple.
e = () # Empty tuple

print('a:', type(a))
print('b:', type(b))
print('c:', type(c))
print('d:', type(d))
print('e:', type(e))

a: <class 'tuple'>
b: <class 'tuple'>
c: <class 'tuple'>
d: <class 'tuple'>
e: <class 'tuple'>

In [5]:
type(())

tuple

In [6]:
type(1,2) # This means two parameters are passed, but the function type expect only 1 or 3 parameters.

TypeError: type() takes 1 or 3 arguments

In [7]:
type((1,2))

tuple

In [5]:
x = ('2')
type(x) # Because the comma is missing, the program consider it a string.

str

In [8]:
x = (2) # Because the comma is missing, the program consider it an integer.
type(x)

tuple

In [7]:
x = (2,)
type(x)

tuple

In [8]:
a = 2,
type(a)

tuple

## Tuple size

* The size of a tuple is the number of items in the tuple.
* If you remember `len(<aTuple>)`, it is a built-in function in Python that returns the length of a sequence.
We can use it to find size of a tuple.
* Since tuples are immutable, their sizes cannot be changed either.

In [9]:
len((1,2,3,4,5))

5

In [10]:
x = (2301170,'Python',True)
len(x)

3

In [11]:
empty_tuple = ()
len(empty_tuple)

0

In [12]:
len(())

0

In [12]:
len((2)) # Error occurs because (2) is an integer not a tuple. มองเป็น int ไม่ใช่ tuple

TypeError: object of type 'int' has no len()

In [14]:
y = (2301170,'Python',True,('N','D','M','J'),3.0)
len(y)

5

## Indexing

* We can access to each element in the tuple individually by specifying an index inside the brackets.
* The indexes are 0 (the first item), 1, ..., n-1 (the last item).
* We can use negative indexes, which starts from -1 (the last item), -2, -3, ..., -n (the first item).
* No matter positive or negative indexes you use, it cannot be out of those ranges. See examples below

In [4]:
a = 3.0
b = ('N','092-5166xxx')
c = ['S','M','J']
data = (2301170,'Python',True,a,b,c)

In [20]:
print(data[0])
print(data[-6])
print(data[-len(data)])

2301170
2301170
2301170

In [21]:
print(data[1])
print(data[-5])

Python
Python

In [22]:
print(data[2])
print(data[-4])

True
True

In [19]:
print(data[3])
print(data[-3])

3.0
3.0

In [20]:
print(data[4])
print(data[-2])

('N', '092-5166xxx')
('N', '092-5166xxx')

In [21]:
print(data[5])
print(data[-1])
print(data[len(data)-1])

['S', 'M', 'J']
['S', 'M', 'J']
['S', 'M', 'J']

### Iterating over a tuple using `for`

Like what we do on a list, we have two ways to do this.

In [3]:
for element in data:
    print(element)

NameError: name 'data' is not defined

In [7]:
for i in range(len(data)):
    print('index',i,':',data[i])
    print(data[i])

index 0 : 2301170
2301170
index 1 : Python
Python
index 2 : True
True
index 3 : 3.0
3.0
index 4 : ('N', '092-5166xxx')
('N', '092-5166xxx')
index 5 : ['S', 'M', 'J']
['S', 'M', 'J']

In [2]:
data[6] # Error เพราะ index มีแค่ 5 ตัว

NameError: name 'data' is not defined

## How data are stored in a tuple

Here is an example of how items in `data` are stored.  https://pythontutor.com/python-debugger.html#mode=edit

In [26]:
a = 3.0
b = ('N','092-5166xxx')
c = ['S','M','J']
data = (2301170,'Python',True,a,b,c)

<img src="https://github.com/ploy-np/python/blob/master/images/tuple/Slide1.jpg?raw=1" width="700" alt="tuple"/>

In [27]:
for i in range(len(data)):
  data[i] = '2301170'

TypeError: 'tuple' object does not support item assignment

In [32]:
a = 3.0
b = ('N','092-5166xxx')
c = ['S','M','J']
data = (2301170,'Python',True,a,b,c)

a = 5.0
for element in data:
    print(element)
print('a:',a)

2301170
Python
True
3.0
('N', '092-5166xxx')
['S', 'M', 'J']
a: 5.0

<img src="https://github.com/ploy-np/python/blob/master/images/tuple/Slide2.jpg?raw=1" width="700" alt="tuple"/>

In [33]:
b[0] = 'P' # Since b is a tuple, the items of b cannot be modified. # Tuple จะแก้ไขไม่ได้
for element in data:
    print(element)

TypeError: 'tuple' object does not support item assignment

In [34]:
b = ('P','092-5166xxx') # To modify b partially, we have to reassign it with the entire tuple (add or remove).
for element in data:
    print(element)
print('b:',b)

2301170
Python
True
3.0
('N', '092-5166xxx')
['S', 'M', 'J']
b: ('P', '092-5166xxx')

<img src="https://github.com/ploy-np/python/blob/master/images/tuple/Slide3.jpg?raw=1" width="700" alt="tuple"/>

In [36]:
c[0] = '-' # Since c is a list, the items of c can be modified.
"""
Since data[-1] points the list that c also points at,
the value of data[-1] is also changed.
Although data is a tuple, in this case it is considered no modification
because data[-1] still points at the same list.
"""
for element in data:
    print(element)
print('c:',c)

2301170
Python
True
3.0
('N', '092-5166xxx')
['-', 'M', 'J']
c: ['-', 'M', 'J']

<img src="https://github.com/ploy-np/python/blob/master/images/tuple/Slide4.jpg?raw=1" width="700" alt="tuple"/>

In [37]:
c = ['M','J'] # This line makes c to points at a new list, but there is nothing to do with data item.
# So, the last item of data still points at the same list, which means no modification occurs.
for element in data:
    print(element)
print('c:',c)

2301170
Python
True
3.0
('N', '092-5166xxx')
['-', 'M', 'J']
c: ['M', 'J']

<img src="https://github.com/ploy-np/python/blob/master/images/tuple/Slide5.jpg?raw=1" width="700" alt="tuple"/>

## Basic operations for Tuple
count(x)	Returns the number of times a specified value occurs in a tuple

index(x)	Searches the tuple for a specified value and returns the position of where it was found

len()

max()

min()

sorted()

sum()

tuple()	Change type from List or String to Tuple

In [1]:
nums = (3,8,7,9,12,3)
new_nums = nums
print(len(nums))
new_nums = sorted(nums) # ผลลัพธ์ของ sort กลายเป็น list อันใหม่
print(nums)
print(new_nums)
new_nums = tuple(sorted(nums))
print(new_nums)
print('count =', nums.count(3))
print('index =', nums.index(3))
print('max =', max(nums))
print('min =', min(nums))
print('sum =', sum(nums))

6
(3, 8, 7, 9, 12, 3)
[3, 3, 7, 8, 9, 12]
(3, 3, 7, 8, 9, 12)
count = 2
index = 0
max = 12
min = 3
sum = 42